[Unit]
Description=Unit for create_pagespeed_cache_folder
Requires=network-online.target
After=efs_mount.service
Documentation=https://github.com/webhop/ansible-apache2-pagespeed

[Service]
Type=oneshot
ExecStart={{ scripts_dir }}/apache-pagespeed/pagespeed-upstart.sh

[Install]
WantedBy=multi-user.target
