{% if enable_mod_status %}
ExtendedStatus On
{% endif %}
<VirtualHost *:80>

  ServerAdmin webmaster@localhost
  DocumentRoot {{ docroot }}

  {% if apache_force_ssl %}
  SetEnv HTTPS on
  {% endif %}
  ExpiresActive On
  ExpiresDefault "access plus 2 months"
  ExpiresByType application/x-font-woff "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"

  Header set Surrogate-Key "expr=%{CONTENT_TYPE}"
  Header edit Surrogate-Key ;.* ''

  # Expose ping.php on /service/healthcheck/gtg
  RewriteEngine on
  RewriteRule "^/service/healthcheck/gtg$" "/ping.php" [PT]

  # Expose se4.php on /service/status
  RewriteRule "^/service/status$" "/se4.php" [PT]

  <Directory {{ docroot }}>
    AllowOverride All
  </Directory>

  <IfModule mod_fastcgi.c>
    AddType application/x-httpd-fastphp5 .php
    Action application/x-httpd-fastphp5 /php5-fcgi
    Alias /php5-fcgi /usr/lib/cgi-bin/php5-fcgi
    FastCgiExternalServer /usr/lib/cgi-bin/php5-fcgi -socket /var/run/php5-fpm.sock -pass-header Authorization -idle-timeout 120

    <Directory /usr/lib/cgi-bin>
      Require all granted
    </Directory>
  </IfModule>

  {% if enable_mod_status %}
  <IfModule mod_status.c>
    <Location "{{ mod_status_endpoint }}">
      SetHandler server-status
      Require local
      Require ip 127.0.0.1
    </Location>
  </IfModule>
  {% endif %}

  {% if enable_php_fpm_status %}
  <LocationMatch '/fpm-status'>
    SetHandler php5-fcgi-virt
    Action php5-fcgi-virt /php5-fcgi virtual
  </LocationMatch>
  {% endif %}

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

{{ virtualhost_additions | default('') | indent(2, true) }}

</VirtualHost>


{% if stat_ssl_cert.stat.exists %}
<VirtualHost *:443>

  ServerAdmin webmaster@localhost
  DocumentRoot {{ docroot }}
  SetEnv HTTPS on
  ExpiresActive On
  ExpiresDefault "access plus 2 months"
  ExpiresByType application/x-font-woff "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"

  Header set Surrogate-Key "expr=%{CONTENT_TYPE}"
  Header edit Surrogate-Key ;.* ''

  # Expose ping.php on /service/healthcheck/gtg
  RewriteEngine on
  RewriteRule "^/service/healthcheck/gtg$" "/ping.php" [PT]

  # Expose se4.php on /service/status
  RewriteRule "^/service/status$" "/se4.php" [PT]

  <Directory {{ docroot }}>
    AllowOverride All
  </Directory>

  <IfModule mod_fastcgi.c>
    AddType application/x-httpd-fastphp5 .php
    Action application/x-httpd-fastphp5 /php5-fcgi-ssl
    Alias /php5-fcgi-ssl /usr/lib/cgi-bin/php5-fcgi-ssl
    FastCgiExternalServer /usr/lib/cgi-bin/php5-fcgi-ssl -socket /var/run/php5-fpm.sock -pass-header Authorization -idle-timeout 120

    <Directory /usr/lib/cgi-bin>
      Require all granted
    </Directory>
  </IfModule>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl/cert.pem
  SSLCertificateKeyFile /etc/apache2/ssl/key.pem

{{ virtualhost_additions | default('') | indent(2, true) }}

</VirtualHost>

{% endif %}
