{% if enable_mod_status %}
ExtendedStatus On
{% endif %}
<VirtualHost *:80>

  ServerAdmin webmaster@localhost
  DocumentRoot {{ docroot }}

  {% if apache_force_ssl and stat_ssl_cert.stat.exists %}
  SetEnv HTTPS on
  {% endif %}
  ExpiresActive On
  ExpiresDefault "access plus 2 months"

  Header set Surrogate-Key "expr=%{CONTENT_TYPE}"
  Header edit Surrogate-Key ;.* ''
  Header set Cache-Control s-maxage=600 "expr=%{REQUEST_STATUS} == 404"
  Header unset Surrogate-Control "expr=%{REQUEST_STATUS} == 404"
  Header set Surrogate-Control max-age=600 "expr=%{REQUEST_STATUS} == 404"

  # Expose ping.php on /service/healthcheck/gtg
  RewriteEngine on
  RewriteRule "^/service/healthcheck/gtg$" "/ping.php" [PT]

  # Expose se4.php on /service/status
  RewriteRule "^/service/status$" "/se4.php" [PT]

  <Directory {{ docroot }}>
    AllowOverride All
  </Directory>
  
  <Directory {{ docroot }}/html>
    Order allow,deny
    Deny from all
  </Directory>

  <IfModule mod_reqtimeout.c>
    RequestReadTimeout header=65 body=65
  </IfModule>

  <IfModule mod_fastcgi.c>
    AddType application/x-httpd-fast{{ php_fpm_major_version }} .php
    Action application/x-httpd-fast{{ php_fpm_major_version }} /{{ php_fpm_major_version }}-fcgi
    Alias /{{ php_fpm_major_version }}-fcgi /usr/lib/cgi-bin/{{ php_fpm_major_version }}-fcgi
    FastCgiExternalServer /usr/lib/cgi-bin/{{ php_fpm_major_version }}-fcgi -socket {{ php_fpm_socket_path }} -pass-header Authorization -idle-timeout 120

    <Directory /usr/lib/cgi-bin>
      Require all granted
    </Directory>
  </IfModule>

  {% if enable_mod_status %}
  <IfModule mod_status.c>
    <Location "{{ mod_status_endpoint }}">
      SetHandler server-status
      Require local
      Require ip 127.0.0.1
    </Location>
  </IfModule>
  {% endif %}

  {% if enable_php_fpm_status %}
  <LocationMatch '/fpm-status'>
    SetHandler {{ php_fpm_major_version }}-fcgi-virt
    Action {{ php_fpm_major_version }}-fcgi-virt /{{ php_fpm_major_version }}-fcgi virtual
  </LocationMatch>
  {% endif %}

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

{{ virtualhost_additions | default('') | indent(2, true) }}

</VirtualHost>


{% if stat_ssl_cert.stat.exists %}
<VirtualHost *:443>

  ServerAdmin webmaster@localhost
  DocumentRoot {{ docroot }}
  SetEnv HTTPS on

  ExpiresActive On
  ExpiresDefault "access plus 2 months"

  Header set Surrogate-Key "expr=%{CONTENT_TYPE}"
  Header edit Surrogate-Key ;.* ''
  Header set Cache-Control s-maxage=600 "expr=%{REQUEST_STATUS} == 404"
  Header unset Surrogate-Control "expr=%{REQUEST_STATUS} == 404"
  Header set Surrogate-Control max-age=600 "expr=%{REQUEST_STATUS} == 404"

  # Expose ping.php on /service/healthcheck/gtg
  RewriteEngine on
  RewriteRule "^/service/healthcheck/gtg$" "/ping.php" [PT]

  # Expose se4.php on /service/status
  RewriteRule "^/service/status$" "/se4.php" [PT]

  <Directory {{ docroot }}>
    AllowOverride All
  </Directory>

  <IfModule mod_fastcgi.c>
    AddType application/x-httpd-fast{{ php_fpm_major_version }} .php
    Action application/x-httpd-fast{{ php_fpm_major_version }} /{{ php_fpm_major_version }}-fcgi-ssl
    Alias /{{ php_fpm_major_version }}-fcgi-ssl /usr/lib/cgi-bin/{{ php_fpm_major_version }}-fcgi-ssl
    FastCgiExternalServer /usr/lib/cgi-bin/{{ php_fpm_major_version }}-fcgi-ssl -socket {{ php_fpm_socket_path }} -pass-header Authorization -idle-timeout 120

    <Directory /usr/lib/cgi-bin>
      Require all granted
    </Directory>
  </IfModule>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl/cert.pem
  SSLCertificateKeyFile /etc/apache2/ssl/key.pem

{{ virtualhost_additions | default('') | indent(2, true) }}

</VirtualHost>

{% endif %}
